@model IEnumerable<Creation>
@{
    ViewData[ViewDataKeys.Title] = Localizer[SharedResources.Creations];
    ViewData[ViewDataKeys.VerticallyCentered] = true;
}

<main>
    <h1>@ViewData[ViewDataKeys.Title]</h1>
    <div class="card-group flex-wrap">
        @foreach (var creation in Model)
        {
            <partial name="_Creation" model="@creation" />
        }
    </div>
</main>
