@model IReadOnlyCollection<Creation>

<section>
    <h1>@Localizer[SharedResources.RecentlyReleasedCreations]</h1>
    <div class="card-group responsive-flex-wrap">
        @foreach (var creation in Model)
        {
            <partial name="~/Views/Creations/_Creation.cshtml" model="creation" />
        }
    </div>
    <div class="float-right">
        <a class="btn-creations btn btn-expand-left" asp-controller="Creations" asp-action="Index">
            <img class="btn-img" src="~/img/icons/projects.svg" alt="Creations Icon" />
            <span class="btn-text">@Localizer[SharedResources.ViewAllCreations]</span>
        </a>
    </div>
</section>
