@model IEnumerable<Customer>

<section>
    <h2>@Localizer[SharedResources.LoyalCustomers]</h2>
    <div class="card-group flex-wrap">
        @foreach (var customer in Model)
        {
            <partial name="~/Views/Customers/_Customer.cshtml" model="@customer" />
        }
    </div>
</section>
