<footer class="container">
    <ul class="inline-list">
        <li>© 2019 Actin Uranium</li>
        <li><a class="sentence-case" asp-page="/TermsAndConditions/Index">@Localizer["terms"]</a></li>
        <li><a class="sentence-case" asp-page="/Privacy">@Localizer["privacy"]</a></li>
        <li><a class="sentence-case" asp-controller="Home" asp-action="Imprint">@Localizer["imprint"]</a></li>
    </ul>
</footer>
