<!DOCTYPE html>
<html>
<head>
    <partial name="_Meta" />
    <partial name="_Title" />
    <link rel="icon" href="favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="https://use.typekit.net/lge2pgz.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_Header" />
    <partial name="_Navbar" />
    @RenderBody()
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
