<!DOCTYPE html>
<html>
<head>
    <partial name="Unshared/_Meta" />
    <partial name="Unshared/_Title" />
    <partial name="Unshared/_Links" />
</head>
<body>
    <partial name="Unshared/_Header" />
    <partial name="Unshared/_Navbar" />
    @RenderSection("Masthead", required: false)
    <div class="outer-flex-container">
        <div class="inner-flex-container">
            @if ((ViewData[ViewDataKeys.VerticallyCentered] is bool centered) && centered)
            {
                <div class="fake-header"></div>
            }
            <div class="responsive-container">
                @RenderBody()
            </div>
            <partial name="Unshared/_Footer" />
        </div>
    </div>
    <partial name="Unshared/_Scripts" />
    @RenderSection("Scripts", required: false)
    <script>
        window.addEventListener('load', () => {
            let brand = document.querySelector('.brand');
            if (brand) {


                // ignores scrolling done by browser on refresh of an already scrolled page
                setTimeout(() => {
                    let scrolling = false;
                    window.addEventListener('scroll', () => {
                        scrolling = true;
                    });

                    setInterval(() => {
                        if (scrolling) {
                            if (window.scrollY > 0) {
                                brand.classList.add('fade-out');
                            } else {
                                brand.classList.remove('fade-out');
                            }

                            scrolling = false;
                        }
                    }, 100)
                }, 100);
            }
        });
    </script>
</body>
</html>
