<!DOCTYPE html>
<html>
<head>
    <partial name="Unshared/_Meta" />
    <partial name="Unshared/_Title" />
    <partial name="Unshared/_Links" />
</head>
<body>
    <partial name="Unshared/_Header" />
    <partial name="Unshared/_Navbar" />
    @RenderSection("Masthead", required: false)
    <div class="outer-flex-container">
        <div class="inner-flex-container">
            @if ((ViewData[ViewDataKeys.VerticallyCentered] is bool centered) && centered)
            {
                <div class="fake-header"></div>
            }
            <div class="responsive-container">
                @RenderBody()
            </div>
            <partial name="Unshared/_Footer" />
        </div>
    </div>
    <partial name="Unshared/_Scripts" />
</body>
</html>