@model IEnumerable<Customer>
@{
    ViewData[ViewDataKeys.Title] = Localizer[SharedResources.Customers];
    ViewData[ViewDataKeys.VerticallyCentered] = true;
}

<main>
    <h1>@ViewData[ViewDataKeys.Title]</h1>
    <div class="card-group flex-wrap">
        @foreach (Customer customer in Model)
        {
            <partial name="_Customer" model="@customer" />
        }
    </div>
</main>
