.carousel {
    overflow: hidden;
    position: relative;
    margin-bottom: 45px;
}

.slide,
.active-slide,
.prev-slide,
.next-slide {
    background-color: rgb(252, 252, 252);
    float: left;
    margin-right: -100%;
    transition: transform .6s ease-in-out;
    width: 100%;
}

.slide {
    display: none;
}

.active-slide,
.prev-slide,
.next-slide {
    display: block;
}

    .prev-slide:not(.slide-right),
    .active-slide.slide-left {
        transform: translateX(-100%);
    }

    .next-slide:not(.slide-left),
    .active-slide.slide-right {
        transform: translateX(100%);
    }

.slide-bullet-container {
    bottom: 18px;
    display: flex;
    justify-content: center;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.slide-bullet,
.active-slide-bullet,
.prev-slide-control,
.next-slide-control {
    background-clip: content-box;
    background-color: #000;
    box-sizing: content-box;
    cursor: pointer;
}

.slide-bullet,
.active-slide-bullet {
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    height: 6px;
    margin: 0 5px;
    width: 60px;
}

.slide-bullet,
.prev-slide-control,
.next-slide-control {
    opacity: .1;
}

.active-slide-bullet {
    opacity: .3
}

.prev-slide-control,
.next-slide-control {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: 0;
    height: 60px;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 6px;
}

.prev-slide-control {
    left: 18px;
}

.next-slide-control {
    right: 18px;
}

    .slide-bullet:hover,
    .active-slide-bullet:hover,
    .prev-slide-control:hover,
    .next-slide-control:hover {
        opacity: .2;
    }

.release-slide-overlay {
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
