html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
}

header > .inline-list {
    margin-bottom: 0;
}

section {
    overflow: hidden;
}

.responsive-container {
    margin: 0 auto;
    width: 285px;
}

.masthead {
    height: 100vh;
    margin-bottom: 45px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media (max-width: 732px) {
    .row {
        flex-wrap: wrap;
    }

    .masthead {
        display: none;
    }
}

@media (min-width: 733px) and (max-width: 1017px) {
    .responsive-container {
        width: 570px;
    }
}

@media (min-width: 1018px) and (max-width: 1302px) {
    .responsive-container {
        width: 855px;
    }
}

@media (min-width: 1303px) {
    .responsive-container {
        width: 1140px;
    }
}

footer {
    margin-top: 0;
}

.inline-list:only-child {
    margin: 0;
}

.outer-flex-container {
    height: 100%;
    display: flex;
}

.inner-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fake-header,
.main,
.footer {
    flex-shrink: 0;
}

.fake-header,
.footer {
    align-self: flex-end;
    padding: 13px 19px;
    margin: 25px;
}

/* Helps center main vertically. */
.fake-header {
    height: 42px;
    width: 285px;
}

article > header {
    margin-bottom: 30px;
}

article section:not(:last-child) {
    margin-bottom: 30px;
}

.article-footer:not(:last-child) {
    margin-bottom: 30px;
}
