.navbar {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

@media (max-width: 732px) {
    .navbar {
        position: static;
        width: 285px;
        margin: 0 auto;
    }
}

@media (min-width: 733px) {
    .navbar > .btn {
        justify-content: flex-end;
    }
}

.btn {
    z-index: 1;
}

.btn-overlay {
    z-index: 2;
}
