@model IEnumerable<Headline>
@{
    ViewData["Title"] = Localizer[SharedResources.Headlines];
    ViewData["VerticallyCentered"] = true;
}

<main>
    <h1>@ViewData["Title"]</h1>
    <div class="card-columns">
        @foreach (var headline in Model)
        {
            <partial name="_Headline" model="headline" />
        }
    </div>
</main>

@section Scripts {
    <script>
        //let elements = document.getElementsByClassName('card');
        //for (let element of elements) {
        //    quantizeHeight(element);
        //}

        function quantizeHeight(element) {
            const HeightQuantum = 25;
            let actualHeight = element.getBoundingClientRect().height;
            let quantumCount = Math.floor(actualHeight / HeightQuantum);
            if ((actualHeight % HeightQuantum) > 0) {
                quantumCount += 1;
            }

            element.style.height = (quantumCount * HeightQuantum) + 'px';
            element.style.visibility = "visible";
        }
    </script>
}
