@model IEnumerable<Headline>
@{
    ViewData[ViewDataKeys.Title] = Localizer[SharedResources.Headlines];
    ViewData[ViewDataKeys.VerticallyCentered] = true;
}

<main>
    <h1>@ViewData[ViewDataKeys.Title]</h1>
    <div class="card-columns">
        @foreach (var headline in Model)
        {
            <partial name="_Headline" model="@headline" />
        }
    </div>
</main>
