@model IEnumerable<Headline>
@{
    ViewData["Title"] = Localizer["headlines"];
}

<div class="table-container">
    <div class="table-cell-container responsive-container">
        <main>
            <h1>@ViewData["Title"]</h1>
            @if (Model.Any())
            {
                <div class="card-columns">
                    @foreach (var headline in Model)
                    {
                        <partial name="_Headline" model="headline" />
                    }
                </div>
            }
        </main>
        <partial name="_Footer" />
    </div>
</div>

@section Scripts {
    <script>
        //let elements = document.getElementsByClassName('card');
        //for (let element of elements) {
        //    quantizeHeight(element);
        //}

        function quantizeHeight(element) {
            const HeightQuantum = 25;
            let actualHeight = element.getBoundingClientRect().height;
            let quantumCount = Math.floor(actualHeight / HeightQuantum);
            if ((actualHeight % HeightQuantum) > 0) {
                quantumCount += 1;
            }

            element.style.height = (quantumCount * HeightQuantum) + 'px';
            element.style.visibility = "visible";
        }
    </script>
}
