@model IEnumerable<string>
@{
    ViewData[ViewDataKeys.Title] = "Geometrie";
}

<article>
    <header>
        <h1>Geometrie</h1>
    </header>
    <div class="responsive-container">
        @foreach (var virtualPath in Model)
        {
            <div class="item" title="@virtualPath">
                <a href="@virtualPath.Remove(0, 2)" target="_blank">
                    <svg src="@virtualPath"></svg>
                </a>                
            </div>
        }
    </div>
</article>
