@model IEnumerable<string>
@{
    ViewData[ViewDataKeys.Title] = "Images";
}

<article>
    <header>
        <h1>@ViewData[ViewDataKeys.Title]</h1>
    </header>
    <div class="card-group flex-wrap">
        @foreach (var virtualPath in Model)
        {
            <div class="card">
                <a href="@virtualPath.Remove(0, 2)" target="_blank">
                    <img class="creation-card-img" src="@virtualPath" asp-append-version="true">
                </a>                
            </div>
        }
    </div>
</article>
