@page
@{
    ViewData["Title"] = "Agentur";
}

<article>
    <header>
        <img src="~/img/agentur.svg" />
        <h1>@ViewData["Title"]</h1>
        <figure>
            <img class="img-fluid" src="~/img/csm_1140_moerth_koepfe_561ef0ee76.jpg" />
            <figcaption>Von links nach rechts: Oliver Steinmann (Botschafter der Beziehungen/Agenturleitung), Robert Mörth (Kopf der Köpfe/Geschäftsführung), Silvia Mörth (Baronin des Budgets/Leitung Buchhaltung).</figcaption>
        </figure>
    </header>
    <section>
        <h1>Hard Facts Mörth ä </h1>

        <ul class="unstyled-list">
            <li><strong>Gründung: 1997</strong></li>
            <li><strong>Stammsitz: Graz</strong></li>
            <li><strong>Entwicklung: Konstantes Wachstum</strong></li>
            <li><strong>Angebot: Klassische Werbung, Digitalmarketing, Dialogmarketing, eCommerce, Customer Loyalty</strong></li>
        </ul>

        <ul class="inline-list">
            <li><a class="strong-link" asp-controller="Home" asp-action="Kontakt">zu den Kreationen</a></li>
            <li><a class="strong-link" asp-controller="Home" asp-action="Kontakt">zum Kontaktformular</a></li>
        </ul>
    </section>
    <section>
        <h1>Geschichte</h1>

        <p>Die Werbeagentur Mörth & Mörth vereint klassische und digitale Werbung und reagiert damit auf den veränderten Medienkonsum der heutigen Zeit. Weiterentwicklungen, Digitalisierung und der Wandel zu einer neuen Dimension der Werbemaßnahmen fließen in die Arbeiten und in das Tun und Handeln ein und führen Unternehmen so zu gewinnbringenden Zielen.</p>

        <section>
            <h2>1997 // Startschuss im klassischen Werbebereich</h2>
            <div class="row">
                <div class="col">
                    <p>Die aktive Werbelaufbahn begann für die Brüder Robert & Thomas Mörth 1997. Das war das Geburtsjahr der Werbeagentur Mörth & Mörth. Das Unternehmen war seit Beginn an auf Erfolgskurs und entwickelte sich rasch zur führenden Agentur im Süden Österreichs. Schon seit Gründung konzentrierten sich die Brüder auf die Entwicklung unterschiedlicher Möglichkeiten, um den Werbeerfolg für Unternehmen maßgeblich zu erhöhen.</p>
                </div>
                <div class="col">
                    <p>Der Fokus lag hierbei auf der Kombination verschiedener Werbeformen und Maßnahmen zur Absatzsteigerung, wie zum Beispiel gezielte Schulungen für den Vertrieb. So war Mörth & Mörth eine der ersten Agenturen, die klassische Werbekomponenten mit spezifisch auf Kunden abgestimmte Faktoren verband.</p>
                </div>
            </div>
        </section>
        <section>
            <h2>2008 // Umschwung der digitalen Welt</h2>

            <div class="row">
                <div class="col">
                    <p>Das Internet wuchs und mutierte so zum Massenmedium schlechthin. Durch die Einführung des Smartphones entwickelte sich die Gesellschaft immer mehr zu „Digital Users“ und die Affinität für digitale Werbenutzung stieg immer weiter an. Das Internet wurde sozusagen das Mekka der Mundpropaganda. Das passive Werbeempfangen verwandelte sich zum aktiven Anfragen und zur Äußerung der eigenen Wünsche. Infolgedessen kam es auch zu einem Umschwung innerhalb der Agentur Mörth & Mörth.</p>

                    <p>Die digitale Vielfalt der Werbemöglichkeiten zog Thomas Mörth derart in den Bann, dass er sich dazu entschloss eine neue Spezialagentur zu schaffen. Nach zwölf gemeinsamen Jahren trennten sich somit die Wege der zwei Brüder.</p>
                </div>
                <div class="col">
                    <p>Im Oktober 2008 gründete Thomas Mörth die Dialog- und Digitalagentur „<a href="http://www.infect.at/">infect</a>“. Diese Agentur richtete sich speziell auf den veränderten Medienkonsum aus und bot damit eine einzigartige Kombination aus klassischer Werbung, digitalem Dialogmarketing und moderner Mundpropaganda.</p>

                    <p>Die Werbeagentur Mörth & Mörth baute ihre Führungsposition immer weiter aus und entwickelte sich in stetigem Wachstum zu einem Erfolg bringenden Partner. Der Kundenstamm der zudem vielfach prämierten Agentur erweiterte sich kontinuierlich. Zahlreiche Auszeichnungen und Preise, wie zum Beispiel mehrere <a href="https://www.moerth.at/auszeichnungen/">Green Panther</a>, die <a href="https://www.moerth.at/auszeichnungen/">Silberne Venus</a> oder auch der <a href="https://www.moerth.at/auszeichnungen/">Event-Award</a> und viele weitere, untermauern und bestätigen diesen Erfolg.</p>
                </div>
            </div>
        </section>
        <section>
            <h2>2008 // Umschwung der digitalen Welt</h2>
            <div class="row">
                <div class="col">
                    <p>Die Wege der zwei Brüder Robert & Thomas Mörth kreuzten sich erneut bereits im Jahr 2013 mit der Entwicklung von „<a href="http://www.oouyes.com/">OOUYES</a>“. Das neuartige <a href="http://www.oouyes.com/oouyes/">Customer Loyalty Program</a> ermöglicht eine einzigartige Form der Kundenbindung. Die Devise der Business-Software: „Zum richtigen Zeitpunkt, am richtigen Ort, mit dem richtigen Produkt und dem richtigen Inhalt“ – so funktioniert Kundenbindung heute. Zudem steht das Prinzip der Gegenseitigkeit sowie automatisiert laufende Werbung und Erreichbarkeit im Vordergrund.</p>
                </div>
                <div class="col">
                    <p>Der erste große Roll-out wurde im Dezember 2015 im Shoppingcenter Traisenpark durchgeführt. Nach und nach folgen nun weitere Umsetzungen in verschiedenen Branchen, die mit diesem revolutionären Kundenbindungsprogramm neue Trends setzen.</p>
                </div>
            </div>
        </section>
    </section>
</article>