@page
@{
    ViewData["Title"] = "Allgemeine Geschäftsbedingungen";
}

@section Styles {
    <style>
        main {
            counter-reset: chapter;
        }

        h2:before {
            content: counter(chapter) ". ";
            counter-increment: chapter;
        }

        h2 {
            counter-reset: section;
        }

        p:not(:only-of-type)::before {
            content: counter(chapter) "." counter(section) " ";
            counter-increment: section;
        }
    </style>
}

<article>
    <header>
        @*<img src="~/img/icons/briefcase.svg" />*@
        <img src="~/img/sacred-geometry/triangles/01.svg" />
        <h1>@Html.Raw(@ViewData["Title"])</h1>        
    </header>
    <section>
        <h2>Geltung</h2>       
        
        <p>Die Agentur Mörth & Mörth GmbH – im Folgenden als Agentur bezeichnet – erbringt ihre Leistungen ausschließlich auf der Grundlage der vorliegenden Allgemeinen Geschäftsbedingungen. Diese gelten auch für alle künftigen Geschäftsbeziehungen, selbst wenn nicht ausdrücklich auf sie Bezug genommen wird.</p>

        <p>Nebenabreden, Vorbehalte, Änderungen oder Ergänzungen dieser Allgemeinen Geschäftsbedingungen bedürfen zu ihrer Gültigkeit der Schriftform; das gilt auch für das Abweichen vom Schriftformerfordernis.</p>

        <p>Entgegenstehende oder von diesen Geschäftsbedingungen abweichende Bedingungen des Vertragspartners werden selbst bei Kenntnis nur dann wirksam, wenn sie von der Agentur ausdrücklich und schriftlich anerkannt werden.</p>

        <p>Sollten einzelne Bestimmungen dieser Allgemeinen Geschäftsbedingungen unwirksam sein, so berührt dies die Verbindlichkeit der übrigen Bestimmungen und der unter ihrer Zugrundelegung geschlossenen Verträge nicht. Die unwirksame Bestimmung ist durch eine wirksame, die ihr dem Sinn und Zweck am nächsten kommt, zu ersetzen.</p>
    </section>
    <section>
        <h2>Vertragsabschluss</h2>

        <p>Basis für den Vertragsabschluss ist das jeweilige Angebot der Agentur bzw der Auftrag des Kunden, in dem der Leistungsumfang und die Vergütung festgehalten sind. Die Angebote der Agentur sind freibleibend und unverbindlich.</p>

        <p>Erteilt der Kunde einen Auftrag, so ist er an diesen zwei Wochen ab dessen Zugang bei der Agentur gebunden. Der Vertrag kommt durch die Annahme des Auftrags durch die Agentur zustande. Die Annahme hat in Schriftform (zB durch Auftragsbestätigung) zu erfolgen, es sei denn, dass die Agentur zweifelsfrei zu erkennen gibt (zB durch Tätigwerden aufgrund des Auftrages), dass sie den Auftrag annimmt.</p>
    </section>
    <section>
        <h2>Leistungsumfang, Auftragsabwicklung und Mitwirkungspflichten des Kunden</h2>

        <p>Der Umfang der zu erbringenden Leistungen ergibt sich aus dem Auftrag des Kunden bzw der Leistungsbeschreibung oder den Angaben im Vertrag. Nachträgliche Änderungen des Leistungsinhaltes bedürfen der Schriftform.</p>

        <p>Alle Leistungen der Agentur (insbesondere alle Vorentwürfe, Skizzen, Reinzeichnungen, Bürstenabzüge, Blaupausen und Farbabdrucke) sind vom Kunden zu überprüfen und binnen drei Tagen freizugeben. Bei nicht rechtzeitiger Freigabe gelten sie als vom Kunden genehmigt.</p>

        <p>Der Kunde wird die Agentur unverzüglich mit allen Informationen und Unterlagen versorgen, die für die Erbringung der Leistung erforderlich sind. Er wird sie von allen Vorgängen informieren, die für die Durchführung des Auftrages von Bedeutung sind, auch wenn diese Umstände erst während der Durchführung des Auftrages bekannt werden. Der Kunde trägt den Aufwand, der dadurch entsteht, dass Arbeiten infolge seiner unrichtigen, unvollständigen oder nachträglich geänderten Angaben von der Agentur wiederholt werden müssen oder verzögert werden.</p>

        <p>Der Kunde ist weiters verpflichtet, die für die Durchführung des Auftrages zur Verfügung gestellten Unterlagen (Fotos, Logos etc) auf eventuelle bestehende Urheber-, Kennzeichenrechte oder sonstige Rechte Dritter zu prüfen. Die Agentur haftet nicht wegen einer Verletzung derartiger Rechte. Wird die Agentur wegen einer solchen Rechtsverletzung in Anspruch genommen, so hält der Kunde die Agentur schad- und klaglos; er hat ihr sämtliche Nachteile zu ersetzen, die ihr durch eine Inanspruchnahme Dritter entstehen.</p>
    </section>
    <section>
        <h2>Fremdleistungen / Beauftragung Dritter</h2>

        <p>Die Agentur ist nach freiem Ermessen berechtigt, die Leistung selbst auszuführen, sich bei der Erbringung von vertragsgegenständlichen Leistungen Dritter zu bedienen und/oder derartige Leistungen zu substituieren („Besorgungsgehilfe“ vs Besorgungsgehilfe).</p>

        <p>Die Beauftragung von Besorgungsgehilfen erfolgt entweder im eigenen Namen oder im Namen des Kunden, in jedem Fall aber auf Rechnung des Kunden.</p>

        <p>Die Agentur wird Besorgungsgehilfen sorgfältig auswählen und darauf achten, dass diese über die erforderliche fachliche Qualifikation verfügen.</p>
    </section>
    <section>
        <h2>Termine</h2>

        <p>Frist- und Terminabsprachen sind schriftlich festzuhalten bzw zu bestätigen. Die Agentur bemüht sich, die vereinbarten Termine einzuhalten. Die Nichteinhaltung der Termine berechtigt den Kunden allerdings erst dann zur Geltendmachung der ihm gesetzlich zustehenden Rechte, wenn er der Agentur eine angemessene, mindestens aber 14 Tage währende Nachfrist gewährt hat. Diese Frist beginnt mit dem Zugang eines Mahnschreibens an die Agentur.</p>

        <p>Nach fruchtlosem Ablauf der Nachfrist kann der Kunde vom Vertrag zurücktreten. Eine Verpflichtung zur Leistung von Schadenersatz aus dem Titel des Verzugs besteht nur bei Vorsatz oder grober Fahrlässigkeit der Agentur.</p>

        <p>Unabwendbare oder unvorhersehbare Ereignisse – insbesondere Verzögerungen bei Auftragnehmern der Agentur – entbinden die Agentur jedenfalls von der Einhaltung des vereinbarten Liefertermins. Gleiches gilt, wenn der Kunde mit seinen zur Durchführung des Auftrags notwendigen Verpflichtungen (zB Bereitstellung von Unterlagen oder Informationen), im Verzug ist. In diesem Fall wird der vereinbarte Termin zumindest im Ausmaß des Verzugs verschoben.</p>
    </section>
    <section>
        <h2>Rücktritt vom Vertrag</h2>

        <p>Die Agentur ist insbesondere zum Rücktritt vom Vertrag berechtigt, wenn</p>

        <ul>
            <li>die Ausführung der Leistung aus Gründen, die der Kunde zu vertreten hat, unmöglich ist oder trotz Setzung einer Nachfrist weiter verzögert wird;</li>
            <li>berechtigte Bedenken hinsichtlich der Bonität des Kunden bestehen und dieser auf Begehren der Agentur weder Vorauszahlungen leistet noch vor Leistung der Agentur eine taugliche Sicherheit leistet.</li>
        </ul>
    </section>
    <section>
        <h2>Honorar</h2>

        <p>Wenn nichts anderes vereinbart ist, entsteht der Honoraranspruch der Agentur für jede einzelne Leistung, sobald diese erbracht wurde. Die Agentur ist berechtigt, zur Deckung ihres Aufwandes Vorschüsse zu verlangen.</p>

        <p>Für die erbrachten Leistungen und die Abgeltung der urheber- und kennzeichenrechtlichen Nutzungsrechte erhält die Agentur mangels abweichender Vereinbarung ein Honorar in der Höhe von 15% des über sie abgewickelten Werbeetats. Das Honorar versteht sich exklusive der gesetzlichen Umsatzsteuer.</p>

        <p>Alle Leistungen der Agentur, die nicht ausdrücklich durch das vereinbarte Honorar abgegolten sind, werden gesondert entlohnt. Alle der Agentur erwachsenden Barauslagen sind vom Kunden zu ersetzen.</p>

        <p>Kostenvoranschläge der Agentur sind grundsätzlich unverbindlich. Wenn abzusehen ist, dass die tatsächlichen Kosten die von der Agentur schriftlich veranschlagten um mehr als 20% übersteigen, wird die Agentur den Kunden auf die höheren Kosten hinweisen. Die Kostenüberschreitung gilt als vom Kunden genehmigt, wenn der Kunde nicht binnen drei Tagen nach diesem Hinweis schriftlich widerspricht und gleichzeitig kostengünstigere Alternativen bekannt gibt.</p>

        <p>Für alle Arbeiten der Agentur, die aus welchem Grund auch immer vom Kunden nicht zur Ausführung gebracht werden, gebührt der Agentur eine angemessene Vergütung. Mit der Bezahlung dieser Vergütung erwirbt der Kunde an diesen Arbeiten keinerlei Rechte; nicht ausgeführte Konzepte, Entwürfe und sonstige Unterlagen sind vielmehr unverzüglich der Agentur zurückzustellen.</p>
    </section>
    <section>
        <h2>Zahlung</h2>

        <p>Die Rechnungen der Agentur werden netto Kassa ohne jeden Abzug ab Rechnungsdatum fällig und sind, sofern nicht anderes vereinbart wurde, binnen zehn Kalendertagen ab Erhalt der Rechnung zu bezahlen. Bei verspäteter Zahlung gelten Verzugszinsen in der Höhe von 12,5% p.a. als vereinbart. Gelieferte Waren bleiben bis zur vollständigen Bezahlung Eigentum der Agentur.</p>

        <p>Der Kunde verpflichtet sich, alle mit der Eintreibung der Forderung verbundenen Kosten und Aufwände, wie insbesondere Inkassospesen oder sonstige für eine zweckentsprechende Rechtsverfolgung notwendige Kosten, zu tragen.</p>

        <p>Im Falle des Zahlungsverzuges des Kunden kann die Agentur sämtliche, im Rahmen anderer mit dem Kunden abgeschlossener Verträge, erbrachten Leistungen und Teilleistungen sofort fällig stellen.</p>

        <p>Der Kunde darf ist nicht berechtigt, mit eigenen Forderungen gegen Forderungen der Agentur aufzurechnen, außer die Forderung des Kunden wurde von der Agentur schriftlich anerkannt oder gerichtlich festgestellt. Ein Zurückbehaltungsrecht des Kunden wird ausgeschlossen.</p>
    </section>

    <section>
        <h2>Präsentationen</h2>

        <p>Für die Teilnahme an Präsentationen steht der Agentur ein angemessenes Honorar zu, das mangels Vereinbarung zumindest den gesamten Personal- und Sachaufwand der Agentur für die Präsentation sowie die Kosten sämtlicher Fremdleistungen deckt.</p>

        <p>Erhält die Agentur nach der Präsentation keinen Auftrag, so bleiben alle Leistungen der Agentur, insbesondere die Präsentationsunterlagen und deren Inhalt im Eigentum der Agentur; der Kunde ist nicht berechtigt, diese – in welcher Form immer – weiter zu nutzen; die Unterlagen sind vielmehr unverzüglich der Agentur zurückzustellen. Die Weitergabe von Präsentationsunterlagen an Dritte sowie deren Veröffentlichung, Vervielfältigung, Verbreitung oder sonstige Verwertung ist ohne ausdrückliche Zustimmung der Agentur nicht zulässig.</p>

        <p>Ebenso ist dem Kunden die weitere Verwendung der im Zuge der Präsentation eingebrachten Ideen und Konzepte untersagt und zwar unabhängig davon, ob die Ideen und Konzepte urheberrechtlichen Schutz erlangen. Mit der Zahlung des Präsentationshonorars erwirbt der Kunde keinerlei Verwertungs- und Nutzungsrechte an den präsentierten Leistungen.</p>

        <p>Werden die im Zuge einer Präsentation eingebrachten Ideen und Konzepte für die Lösung von Kommunikationsaufgaben nicht in von der Agentur gestalteten Werbemitteln verwertet, so ist die Agentur berechtigt, die präsentierten Ideen und Konzepte anderweitig zu verwenden.</p>
    </section>
    <section>
        <h2>Eigentumsrecht und Urheberschutz</h2>

        <p>Alle Leistungen der Agentur einschließlich jener aus Präsentationen (z.B. Anregungen, Ideen, Skizzen, Vorentwürfe, Skribbles, Reinzeichnungen, Konzepte, Negative, Dias), auch einzelne Teile daraus, bleiben ebenso wie die einzelnen Werkstücke und Entwurfsoriginale im Eigentum der Agentur und können von der Agentur jederzeit – insbesondere bei Beendigung des Vertragsverhältnisses – zurückverlangt werden. Der Kunde erwirbt durch Zahlung des Honorars nur das Recht der Nutzung (einschließlich Vervielfältigung) zum vereinbarten Zweck und im vereinbarten Nutzungsumfang. Ohne gegenteilige Vereinbarung mit der Agentur darf der Kunde die Leistungen der Agentur nur selbst, ausschließlich in Österreich und nur für die Dauer des Agenturvertrages nutzen. Der Erwerb von Nutzungs- und Verwertungsrechten an Leistungen der Agentur setzt in jedem Fall die vollständige Bezahlung der von der Agentur dafür in Rechnung gestellten Honorare voraus.</p>

        <p>Änderungen von Leistungen der Agentur, wie insbesondere deren Weiterentwicklung durch den Kunden oder durch für diesen tätig werdende Dritte, sind nur mit ausdrücklicher Zustimmung der Agentur und – soweit die Leistungen urheberrechtlich geschützt sind – des Urhebers zulässig.</p>

        <p>Für die Nutzung von Leistungen der Agentur, die über den ursprünglich vereinbarten Zweck und Nutzungsumfang hinausgeht, ist – unabhängig davon, ob diese Leistung urheberrechtlich geschützt ist – die Zustimmung der Agentur erforderlich. Dafür steht der Agentur und dem Urheber eine gesonderte angemessene Vergütung zu.</p>

        <p>Für die Nutzung von Leistungen der Agentur bzw. von Werbemitteln, für die die Agentur konzeptionelle oder gestalterische Vorlagen erarbeitet hat, ist nach Ablauf des Agenturvertrages unabhängig davon, ob diese Leistung urheberrechtlich geschützt ist oder nicht – ebenfalls die Zustimmung der Agentur notwendig.</p>

        <p>Dafür steht der Agentur im 1. Jahr nach Vertragsende der volle Anspruch der im abgelaufenen Vertrag vereinbarten Agenturvergütung zu. Im 2. bzw. 3. Jahr nach Ablauf des Vertrages nur mehr die Hälfte bzw. ein Viertel der im Vertrag vereinbarten Vergütung. Ab dem 4. Jahr nach Vertragsende ist keine Agenturvergütung mehr zu zahlen.</p>
    </section>
    <section>
        <h2>Kennzeichnung</h2>

        <p>Die Agentur ist berechtigt, auf allen Werbemitteln und bei allen Werbemaßnahmen auf die Agentur und allenfalls auf den Urheber hinzuweisen, ohne dass dem Kunden dafür ein Entgeltanspruch zusteht.</p>

        <p>Die Agentur ist vorbehaltlich des jederzeit möglichen, schriftlichen Widerrufs des Kunden dazu berechtigt, auf eigenen Werbeträgern und insbesondere auf ihrem Internet-Website mit Namen und Firmenlogo auf die zum Kunden bestehende Geschäftsbeziehung hinzuweisen.</p>
    </section>
    <section>
        <h2>Gewährleistung und Schadenersatz</h2>

        <p>Der Kunde hat allfällige Reklamationen unverzüglich, jedenfalls jedoch innerhalb von drei Tagen nach Leistung durch die Agentur schriftlich geltend zu machen und zu begründen. Im Fall berechtigter und rechtzeitiger Reklamationen steht dem Kunden nur das Recht auf Verbesserung oder Austausch der Leistung durch die Agentur zu.</p>

        <p>Bei gerechtfertigter Mängelrüge werden die Mängel in angemessener Frist behoben, wobei der Kunde der Agentur alle zur Untersuchung und Mängelbehebung erforderlichen Maßnahmen ermöglicht. Die Agentur ist berechtigt, die Verbesserung der Leistung zu verweigern, wenn diese unmöglich ist, oder für die Agentur mit einem unverhältnismäßig hohen Aufwand verbunden ist.</p>

        <p>Die Beweislastumkehr gemäß § 924 ABGB zu Lasten der Agentur ist ausgeschlossen. Das Vorliegen des Mangels im Übergabezeitpunkt, der Zeitpunkt der Feststellung des Mangels und die Rechtzeitigkeit der Mängelrüge sind vom Kunden zu beweisen.</p>

        <p>Schadenersatzansprüche des Kunden, insbesondere wegen Verzugs, Unmöglichkeit der Leistung, positiver Forderungsverletzung, Verschuldens bei Vertragsabschluss, mangelhafter oder unvollständiger Leistung, Mängelfolgeschadens oder wegen unerlaubter Handlungen sind ausgeschlossen, soweit sie nicht auf Vorsatz oder grober Fahrlässigkeit der Agentur beruhen.</p>

        <p>Jeder Schadenersatzanspruch kann nur innerhalb von sechs Monaten ab Kenntnis des Schadens geltend gemacht werden.</p>

        <p>Schadenersatzansprüche sind der Höhe nach mit dem Auftragswert exklusive Steuern begrenzt.</p>
    </section>
    <section>
        <h2>Haftung</h2>

        <p>Die Agentur wird die ihr übertragenen Arbeiten unter Beachtung der allgemein anerkannten Rechtsgrundsätze durchführen und den Kunden rechtzeitig auf für sie erkennbare Risiken hinweisen. Jegliche Haftung der Agentur für Ansprüche, die auf Grund der Werbemaßnahme (der Verwendung eines Kennzeichens) gegen den Kunden erhoben werden, wird ausdrücklich ausgeschlossen, wenn die Agentur ihrer Hinweispflicht nachgekommen ist; insbesondere haftet die Agentur nicht für Prozesskosten, eigene Anwaltskosten des Kunden oder Kosten von Urteilsveröffentlichungen sowie für allfällige Schadenersatzforderungen oder ähnliche Ansprüche Dritter.</p>

        <p>Die Agentur haftet im Rahmen der gesetzlichen Vorschriften lediglich für Schäden, sofern ihr Vorsatz oder grobe Fahrlässigkeit nachgewiesen werden kann. Die Haftung für leichte Fahrlässigkeit ist ausgeschlossen. Das Vorliegen von grober Fahrlässigkeit hat der Geschädigte zu beweisen.</p>
    </section>
    <section>
        <h2>Anzuwendendes Recht</h2>

        <p>Auf die Rechtsbeziehungen zwischen dem Kunden und der Agentur ist ausschließlich österreichisches Recht unter Ausschluss der internationalen Verweisungsnormen anzuwenden. Die Bestimmungen des UN-Kaufrechts finden keine Anwendung.</p>
    </section>
    <section>
        <h2>Erfüllungsort und Gerichtsstand</h2>

        <p>Erfüllungsort ist der Sitz der Agentur.</p>

        <p>Als Gerichtsstand für alle sich unmittelbar zwischen der Agentur und dem Kunden ergebenden Streitigkeiten wird das für den Sitz der Agentur örtlich und sachlich zuständige österreichische Gericht vereinbart.</p>
    </section>
</article>
