@page
@{
    Layout = null;
}

<style>
    html,
    body {
        height: 100%;        
    }

    body {
        margin: 0 auto;
        display: table;
    }

    .container {
        display: table-cell;
        vertical-align: middle;
    }

    main {
        background-color: lightgray;
        height: 600px;
        width: 1140px;
    }
</style>

<html>
<body>
    <div class="container">
        <h1>Bubu</h1>
        <main>Abba</main>
        <footer>Gobi</footer>
    </div>
</body>
</html>
