@page
@{
    ViewData["Title"] = "Datenschutz";
}

@section Metas {
<meta name="description" content="Datenschutzerklärung. Gesammelte Informationen zu Datenschutz (Cookies, Google Analytics, Facebook Plugins, Kontaktaufnahme und Auskunft usw.) auf der Website www.moerth.at" />
}

<article>
    <header>
        <img src="~/img/datenschutz.svg" />
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        <h2>Allgemeines</h2>

        <p>Datenschutz ist Vertrauenssache und Ihr Vertrauen ist uns wichtig. Wir respektieren Ihre Privat- und Persönlichkeitssphäre. Die Sicherheit und die vertrauliche Behandlung Ihrer Daten ist unser oberstes Prinzip. Damit Sie sich bei dem Besuch unserer Webseiten sicher fühlen, beachten wir bei der Verarbeitung Ihrer personenbezogenen Daten streng die gesetzlichen Bestimmungen und möchten Sie hier über unsere Datenerhebung und Datenverwendung informieren. Mit der Zustimmung zu der nachfolgenden Datenschutzerklärung willigen Sie gegenüber der Mörth & Mörth GmbH, Liebenauer Tangente 6/2, A-8041 Graz (im Folgenden: MuM) in die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten unter Beachtung der Datenschutzgesetze und den nachfolgenden Bestimmungen ein.</p>
    </section>
    <section>
        <h2>Erhebung, Nutzung und Verarbeitung personenbezogener Daten</h2>

        <p>Indem Sie unsere Website besuchen, werden auf unseren Servern bestimmte Daten automatisch zu Zwecken der Systemadministration, für statistische oder für Sicherungszwecke gespeichert. Es handelt sich dabei um den Namen Ihres Internetserviceproviders, u.U. Ihre IP-Adresse, die Version Ihrer Browser-Software, das Betriebssystem des Rechners, mit dem zugegriffen wurde, die Website, von der aus Sie uns besuchen, die Webseiten, die Sie bei uns besuchen und ggf. Suchwörter, die Sie benutzt haben, um unsere Website zu finden. Diese Daten können unter Umständen Rückschlüsse über einen bestimmten Besucher der Website zulassen. Personenbezogene Daten werden in diesem Zusammenhang jedoch nicht verwertet. Die Nutzung solcher Daten erfolgt ausschließlich anonym.</p>
    </section>
    <section>
        <h2>Bildrechte</h2>

        <p>Alle Urheberrechte verbleiben beim Rechteinhaber MuM und, soweit angegeben, dem Fotografen. Jegliche kommerzielle Verwendung (dazu zählt unter anderem die Veröffentlichung in Broschüren, die Verwendung in Anzeigen auf anderen Webseiten, etc.) der Bilder, auch in veränderter Form (z.B. durch Bildbearbeitungsprogramme) ist nur nach ausdrücklicher Genehmigung durch MuM gestattet (Anfragen bitte per E-Mail an moerth@moerth.at). Die Verwendung für redaktionelle Berichterstattungen durch Zeitungen und Online-Medien ist unter folgenden Voraussetzungen möglich:</p>

        <ul>
            <li>Angabe des Copyrights (Foto: Mörth & Mörth GmbH und - soweit angegeben - Name des Fotografen).</li>
            <li>Eine Verfremdung der Bilder ist nicht erlaubt</li>
            <li>Die Bilder dürfen nicht zum Download angeboten werden</li>
            <li>Die Bilder dürfen nicht für illegale Zwecke eingesetzt werden</li>
            <li>Belegexemplar erbeten an: Mörth & Mörth GmbH, Liebenauer Tangente 6/2, 8041 Graz</li>
        </ul>

        <p>Bitte beachten Sie in jedem Fall, bei Abdruck, Verwendung im Internet oder sonstiger Veröffentlichung, den Copyright-Vermerk anzubringen. Die Bilder dürfen grundsätzlich nicht für Lizenzierungen in irgendeiner Form sowie den Verkauf an Dritte genutzt werden. Wir weisen darauf hin, dass für die Verletzung der oben genannten Nutzungsrechte und daraus resultierender Ansprüche des Urhebers allein der Nutzer einzustehen hat.</p>
    </section>
    <section>
        <h2>Einbindung von Diensten und Inhalten Dritter</h2>

        <p>Es kann vorkommen, dass innerhalb des Onlineangebotes von MuM Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google Maps oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte die IP-Adresse der Nutzer wahrnehmen, denn ohne die IP-Adresse können sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse zum Beispiel für statistische Zwecke speichern. Soweit uns dies bekannt ist, klären wir die Nutzer darüber auf.</p>
    </section>
    <section>
        <h2>Cookies</h2>

        <p>Cookies sind kleine Datendateien auf Ihrem Computer, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Tablet, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie dazu, statistische Daten der Webseitennutzung zu erfassen und diese zwecks Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. In den gängigen Browsern können Sie Cookies löschen und dafür sorgen, dass sie zukünftig nicht mehr akzeptiert werden. Beachten Sie jedoch, dass damit einige Funktionen unserer Website nur eingeschränkt nutzbar sind.</p>
    </section>
    <section>
        <h2>Webanalyse mit Google Analytics</h2>

        <p>Dieses Angebot benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf den Computern der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website ermöglichen. Die durch Cookies erzeugten Informationen über die Benutzung der Website durch die Nutzer werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Jedoch wird im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite die IP-Adresse bei Nutzern von Google innerhalb der Mitgliedstaaten der Europäischen Union oder bei Nutzern aus anderen Vertragsstaaten des Europäischen Wirtschaftsraums zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Die IP-Anonymisierung ist auf dieser Website aktiv. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um die Nutzung der Website durch die Nutzer auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; Dieses Angebot weist die Nutzer jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) durch Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>
    </section>
    <section>
        <h2>Verwendung von Facebook-Plugins</h2>

        <p>Wir haben in unsere Internetpräsenz sogenannte Plugins des sozialen Netzwerkes facebook.com (nachfolgend „Facebook“) integriert. Facebook ist ein Unternehmen der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. Eine Auflistung und das Aussehen dieser Plugins von Facebook kann unter der nachfolgenden Internetadresse eingesehen werden: <a href="http://developers.facebook.com/plugins">http://developers.facebook.com/plugins</a>.

        <p>Bei jedem Aufruf einer Website unserer Internetpräsenz, die mit einem solchen Plugin versehen ist, veranlasst das Plugin, dass der von Ihnen verwendete Browser die optische Darstellung des Plugins vom Facebook-Server lädt und darstellt. Dabei wird dem Facebook-Server mitgeteilt, welche bestimmte Website unserer Internetpräsenz Sie gerade besuchen. Wenn Sie Mitglied bei Facebook und während des Besuchs unserer Internetpräsenz bei Facebook eingeloggt sind, erkennt Facebook durch die von dem Plugin gesendete Information, welche bestimmte Website unserer Internetpräsenz Sie gerade besuchen und weist sie Ihrem persönlichen Benutzerkonto auf Facebook zu. Betätigen Sie nun eines der Plugins, beispielsweise durch Anklicken des „Gefällt mir“-Buttons oder durch die Abgabe eines Kommentares, wird dies an Ihr persönliches Benutzerkonto auf Facebook gesendet und dort gespeichert. Zudem wird die Information, dass Sie unsere Internetpräsenz besucht haben, an Facebook übermittelt, unabhängig davon, ob Sie eines der Plugins betätigen oder nicht.</p>

        <p>Um das Übermitteln und Speichern von Daten über Sie und Ihr Surfverhalten durch Facebook zu verhindern, müssen Sie sich bei Facebook ausloggen, bevor Sie unsere Internetpräsenz besuchen. Um die Datenerhebung und -weitergabe Ihrer Besucherdaten durch Facebook-Plugins für die Zukunft zu blocken, können Sie für einige Internetbrowser unter nachfolgendem Link ein Browser-Add-On von „Facebook Blocker“ beziehen. Bitte löschen Sie das Browser-Add-On nicht, solange Sie die Facebook-Plugins blocken wollen: <a href="http://webgraph.com/resources/facebookblocker">http://webgraph.com/resources/facebookblocker</a>.</p>

        <p>Unter der nachstehenden Internetadresse finden Sie die Datenschutzhinweise von Facebook mit näheren Informationen zur Erhebung und Nutzung von Daten durch Facebook, zu Ihren diesbezüglichen Rechten sowie zu den Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre: <a href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a>.</p>
    </section>
    <section>
        <h2>Kontaktaufnahme und Auskunft</h2>

        <p>Bei der Kontaktaufnahme mit MuM (per Kontaktformular oder E-Mail) werden die Nutzerangaben zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert. Nach dem Datenschutzgesetz aus dem Jahre 2000 (DSG 2000) haben Sie jederzeit das Recht, Auskunft über die zu Ihrer Person gespeicherten Daten und den Zweck der Speicherung dieser Daten zu erhalten. Für diese Anfrage oder auch für andere Fragen zu unseren Datenschutz-Informationen oder den technischen Besonderheiten dieser Webseite wenden Sie sich bitte an <a href="mailto:moerth@moerth.at">moerth(at)moerth.at</a>.</p>
    </section>
</article>