@page
@{
    ViewData["Title"] = "Picture";
}

<style>
    picture {
        display: flex;
        /*width: 100%;*/
    }

    picture img {        
        width: 100%;
        height: auto;
        object-fit: contain;
    }
</style>


<div style="max-width: 380px; max-height: 202px">
    <picture >
        <source srcset="~/img/responsive/27-380-202.jpg" media="(max-height: 202px)" />
        <source srcset="~/img/responsive/27-380-404.jpg" media="(max-height: 404px)" />
        <img src="~/img/responsive/27-1140-606.jpg" />
    </picture>
</div>
<div style="width: 380px; height: 404px">
    <picture>
        <source srcset="~/img/responsive/27-380-202.jpg" media="(max-height: 202px)" />
        <source srcset="~/img/responsive/27-380-404.jpg" media="(max-height: 404px)" />
        <img src="~/img/responsive/27-1140-606.jpg" />
    </picture>
</div>
<div style="max-width: 1140px; max-height: 606px">
    <picture>
        <source srcset="~/img/responsive/27-380-202.jpg" media="(max-height: 202px)" />
        <source srcset="~/img/responsive/27-380-404.jpg" media="(max-height: 404px)" />
        <img src="~/img/responsive/27-1140-606.jpg" />
    </picture>
</div>