@page
@{
    ViewData["Title"] = Localizer["terms and conditions"];
}

<article class="multi-level-numbering">
    <h1>@ViewData["Title"]</h1>
    @for (int section = 1; section <= 15; section++)
    {
        <section>
            <h2 class="chapter">@LoremIpsum.NextHeading(1, 4)</h2>
            @{
                var random = new Random();
                int paragraphCount = random.Next(1, 7);
                for (int paragraph = 1; paragraph <= paragraphCount; paragraph++)
                {
                    <p class="verse">@LoremIpsum.NextParagraph(1, 4)</p>
                }
            }
        </section>
    }
</article>
