@{
    ViewData[ViewDataKeys.Title] = Localizer[SharedResources.Imprint];
    ViewData[ViewDataKeys.VerticallyCentered] = true;
}

<article>
    <h1>@ViewData[ViewDataKeys.Title]</h1>
    <h2>Actin Uranium</h2>
    <ul class="unstyled-list">
        <li>Atomic Number 92, Mass Number 235</li>
        <li>Period 7, Block f</li>
        <li>Actinides</li>
    </ul>
</article>
