@{
    ViewData["Title"] = Localizer["Imprint"];
}

<article class="container">
    <header>
        <img src="~/img/icons/imprint.svg" asp-append-version="true" />
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        <h2>Actin Uranium</h2>
        <ul class="unstyled-list">
            <li>Atomic Number 92, Mass Number 235</li>            
            <li>Period 7, Block f</li>
            <li>Actinides</li>
        </ul>
    </section>
</article>
