@{
    ViewData["Title"] = Localizer["imprint"];
    ViewData["VerticallyCentered"] = true;
}

<article>
    <h1>@ViewData["Title"]</h1>
    <h2>Actin Uranium</h2>
    <ul class="unstyled-list">
        <li>Ordnungszahl 92, Massenzahl 235</li>
        <li>Periode 7, Block f</li>
        <li>Actinoide</li>
    </ul>
</article>
