<vc:release-carousel release-count="5"></vc:release-carousel>
<div class="responsive-container">
    <vc:creation-section creation-count="4"></vc:creation-section>
    <vc:headline-section headline-count="4"></vc:headline-section>
    <vc:customer-section customer-count="12"></vc:customer-section>
    <partial name="_Footer" />
</div>

@section Scripts {
    <script>
        window.addEventListener('load', () => {
            animateButtons();
        });
    </script>
}
