<section>
    <h2>@LoremIpsum.NextHeading(1, 4)</h2>
    @{
        var random = new Random();
        int paragraphCount = random.Next(1, 7);
        for (int paragraph = 1; paragraph <= paragraphCount; paragraph++)
        {
            <p>@LoremIpsum.NextParagraph(1, 4)</p>
        }
    }
</section>