<footer class="footer">
    <ul class="inline-list">
        <li>© 2019 Actin Uranium</li>
        <li><a asp-page="/TermsAndConditions">@Localizer[SharedResources.Terms]</a></li>
        <li><a asp-page="/Privacy">@Localizer[SharedResources.Privacy]</a></li>
        <li><a asp-controller="Home" asp-action="Imprint">@Localizer[SharedResources.Imprint]</a></li>
    </ul>
</footer>