<header class="brand">
    <a class="brand-logo" asp-controller="Home" asp-action="Index" aria-label="@Localizer[SharedResources.Home]">
        <img class="brand-logo-img" src="~/img/logo.svg" asp-append-version="true" alt="Actin Uranium Logo"/>
    </a>
</header>
