@{
    var title = "Actin Uranium";
    var viewTitle = ViewData[ViewDataKeys.Title] as LocalizedHtmlString;
    if (viewTitle != null)
    {
        title = $"{viewTitle.Value} | {title}";
    }
}

<title>@title</title>
