@model IEnumerable<Headline>

<section>
    <h2>@Localizer[SharedResources.RecentHeadlines]</h2>
    <div class="card-group responsive-flex-wrap">
        @foreach (var headline in Model)
        {
            <partial name="~/Views/Headlines/_Headline.cshtml" model="headline" />
        }
    </div>
    <div class="float-right">
        <a class="btn-headlines btn btn-expand-left" asp-controller="Headlines" asp-action="Index">
            <img class="btn-img" src="~/img/icons/headlines.svg" alt="Headlines Icon" />
            <span class="btn-text">@Localizer[SharedResources.ViewAllHeadlines]</span>
        </a>
    </div>
</section>
